<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/slides/slide2.png" alt="Slide 2" style="width:100%;height:400px">
            <div class="carousel-caption">
                You can take Any Rented Mobile...
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/slides/slide3.png" alt="Slide 3" style="width:100%;height:400px">
            <div class="carousel-caption">
                In your hand...
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/slides/slide4.png" alt="Slide 3" style="width:100%;height:400px">
            <div class="carousel-caption">
                At any day or month...
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div class="text-center">
    <h1 class="display-4 heading-font">Home Page</h1>
</div>
<div class="row">
    <div class="col-12">
        <p class="text-dark">
            Hi! We’re <b>Phone Rental Website</b>, an online rental solution for your communication needs.
        </p>
        <p class="text-dark">

            Why renting, you ask? Well, because we understand that unnecessary mobile appliance costs aren’t the
            best investment options. So we decided to come up with an easier solution instead. We provide more than
            online rental services, we help you explore a world of possibilities. With our assured quality and prompt
            services,you can say goodbye to all the hassles that come with buying and say hello to convenience.
        </p>
        <p class="text-dark">Easy and quick business mobile phone or smartphone rentals? Renting a smartphone for a survey, recording a movie or testing a new app means that you want to be assured of the most appropriate option for your needs. We will always do our best to give you the best advice so that you are satisfied. When you rent your smartphones with Phone Rental you determine your budget in advance and save money. We offer you the lowest price guarantee. Our smartphones can connect wirelessly with Wi-Fi. Do you not have Wi-Fi available at your location? With a fast 3G or 4G connection you are always online. You can also opt to rent a SIM card. Our smartphones recently been released and thoroughly tested by our team. That is why you are assured of new, functioning smartphones.</p>
    </div>
</div>